.DS_store
node_modules/

android/app/build/generated/
android/app/build/outputs/
android/app/release/
android/app/build/
android/app/build/intermediates/
android/build/
android/.gradle/
android/.idea
android/**/*.iml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.gradle
local.properties
ios/.idea

# Android Release
#
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/index.android.bundle.meta